@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@font-face {
    font-family: typo;
    src: url(font/TypoGraphica.otf);
}
@font-face {
    font-family: regg;
    src: url(font/rsu.ttf);
}
body,html{
    margin: 0;
    overflow-x: hidden;
    background-color: rgba(255,215,0,0.8);
}
#mainnav{
    background: rgba(32, 32, 32, 0.2);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 7vh;
    text-align: center;
    z-index: 1;
}
#mainnav a{
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: regg;
    display: inline;
    color: #fff;
    text-align: center;
    padding: 7vh 1.5vw;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 200;
    line-height: 7vh;
    transition: 0.5s;
}
#mainnav a:hover{
    background:#fff;
    color: black;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
#carouselExampleSlidesOnly{
    z-index: -1;
}
#myheader{
    margin: 0;
    width: 100%;
    height: 100%;
}
.container{
    margin: 0;
    padding: 0;
    z-index: -10;
}
.container img{
    width: 100%;
    height: 100%;
}
.parallax{
    /* The image used */
    background-image: url("pics/20.jpg");

    /* Set a specific height */
    height: 100vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#trang{
    background-color: transparent;
    margin: auto;
    letter-spacing: -1.5vw;
}
.intro{
    background-color: #999999;
    width: 100%;
    height: auto;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3vw;
    text-align: justify;
}
.intro p{
    padding: 10%;
}
